<h3>Cadastro de Veículos</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Marca</label>
      <input type="text" class="form-control" id="marca" required [(ngModel)]="veiculo.marca" name="marca">
    </div>

    <div class="form-group">
      <label for="name">Modelo</label>
      <input type="text" class="form-control" id="modelo" required [(ngModel)]="veiculo.modelo" name="modelo">
    </div>

    <div class="form-group">
      <label for="name">Ano</label>
      <input type="text" class="form-control" id="ano" required [(ngModel)]="veiculo.ano" name="ano">
    </div>

    <div class="form-group">
      <label for="name">Descricao</label>
      <input type="text" class="form-control" id="descricao" required [(ngModel)]="veiculo.descricao" name="descricao">
    </div>

    <div class="form-group">
      <label for="name">Vendido</label>
      <input type="text" class="form-control" id="vendido" required [(ngModel)]="veiculo.vendido" name="vendido">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newveiculo()">Add</button> -->
</div>